<div class="hero">
  <div class="nav">
      <div class="logo">
          <h2>Ganesh Arulmozhivarman</h2>
      </div>
      <div class="link">
          <ul>
              <li><a href="#" class="active">About</a></li>
              <li><a href="#">Work</a></li>
              <li><a href="#">Experience</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </div>
  </div>

  <div class="main">
      <img src="../assets/profile1.png" alt="men" class="men">
      <div class="main-detil">
          <p>Hello i'm</p>
          <h1>Ganesh Arulmozhivarman</h1>
          <h4>Frontend Developer</h4>

          <div class="btn">
              <button type="submit">Download CV</button>
              <button type="submit" class="btn-2">Hire Me</button>
          </div>

          <div class="social">
              <i class='bx bxl-github'></i>
              <i class='bx bxl-instagram'></i>
          </div>
          <div class="social">
              <i class='bx bxl-angular'></i>
              <i class='bx bxl-typescript' ></i>
              <i class='bx bxl-javascript' ></i>
              <i class='bx bxl-html5' ></i>
              <i class='bx bxl-css3' ></i>
              <i class='bx bxl-instagram'></i>
          </div>
      </div>
  </div>
  <!-- <div class="sub-btn">
      <a href="https://www.youtube.com/channel/UCUuyUTlJcHzZJJeYpYhUI-Q/">SUBSCRIBE</a>
  </div> -->
</div>